h1 {
  width: 650px;
  margin: auto;
  border: solid 3px #fa541c;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;
  color: #fa541c;
  background-color: #000000;
  border-radius: 5px;
}

#pizzaLogo {
  width: 100px;
}

ul {
  font-family: 'Pacifico', cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  font-size: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fa541c;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}

#subtittle {
  text-align: left;
  color: red;
  margin: 0px 50px;
}

#pizzas {
  border-radius: 3px;
  border: solid 1px #fa541c;
  background-color: #000000;
  color: #fa541c;
  font-size: 22px;
  font-family: 'Pacifico', cursive;
  text-align: left;
}

#refrigerante {
  border-radius: 3px;
  border: solid 1px #fa541c;
  background-color: #000000;
  color: #fa541c;
  font-size: 22px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

#box {
  float: left;
  
}

body {
  background-image: url(./arquivos/fundo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

span {
  float: left;
}

#pTradicionais {
  width: auto;
  text-align: center;
  float: left;
}

#texto {
  margin: auto;
}

#tamanho {
  margin: auto;
  text-align: center;
  width: 230px;
}



div {
  margin-top: 20px;
}



#imgPizza {
  border-radius: 20px;
  padding: 15px;
  width: 200px;
}



#imgRefrigerante {
  border-radius: 20px;
  padding: 15px;
  width: 200px;
}